page-journeys > ion-content {
  background: url('../../assets/imgs/background_preview.png') no-repeat center fixed;
  background-size: cover;
}

page-journeys {

  .fontSize25 {
    font-size: 25px;
  }

  .fontSize20 {
    font-size: 20px;
  }
  .fontBold {
    font-weight: bold;
  }

  .mrg15T {
    margin-top: 15px;
  }
}
