page-login {

}

.justify-content-center {
   display: flex;
   justify-content: center;
}

ion-input {
    //border-bottom-color: black;
    border-bottom: 1px black solid;
}
.text-input-md {
    margin: 10px 5px;
}
.margin-top20{
    margin-top: 20px
}