page-login > ion-content {
  background: url('../../assets/imgs/background_preview.png') no-repeat center fixed;
  background-size: cover;
}

page-login {

}

.justify-content-center {
   display: flex;
   justify-content: center;
}

.text-input-md {
    margin: 10px 5px;
}
.margin-top20{
    margin-top: 20px
}
