page-create-journey {
  ion-list {
    margin: 0 !important;
  }

  ion-searchbar {
    margin-bottom: 15px;
    background-color: transparent;
  }

  .searchbar-ios {
    background-color: transparent!important;
  }

  #please-connect {
    position: absolute;
    background-color: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  #please-connect p {
    color: #fff;
    font-weight: bold;
    text-align: center;
    position: relative;
    font-size: 1.6em;
    top: 30%;
  }

  .scroll-content {
    width: 100%;
    padding: 15px !important;
  }

  #map {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    visibility: hidden;
  }

  ion-datetime {
    font-size: 20px;
  }

  .fontSize20 {
    font-size: 20px !important;
  }
}
