page-creation-profile {

}

.mrg15B {
  margin-bottom: 15px !important;
}

.box-input {
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.box-input > label {
  font-size: 15px;
  color: gray;
}

.box-input > ion-input {
  border-bottom: 0;
}
