page-creation-profile {

}

.mrg15B {
  margin-bottom: 15px !important;
}

.box-input {
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.box-input > label {
  font-size: 15px;
  color: gray;
}

.box-input > ion-input {
  border-bottom: 0;
}

.error-span {
  width: 100%;
  background: lightcoral;
  border-radius: 5px;
  color: #e13838;
  font-weight: bold;
  padding: 10px;
  margin: 5px 10px 5px 10px;
}
