page-home > ion-content {
  background: url('../../assets/imgs/background_preview.png') no-repeat center fixed;
  background-size: cover;
}

page-home > ion-content > div > div {
  justify-content: center;
  flex-wrap: wrap;
}

.titre-home {
  color: #488aff;
  font-weight: bold;
  margin: 20px 0;
}

.text-center {
  text-align: center;
}

