page-compte {

}

img {
  width: 150px;
  height: 150px;
}

.justify-content-center {
  display: flex;
  justify-content: center;
}

label {
  font-size: 20px;
  font-weight: bold;
}

.labelCompte {
  font-size: 20px;
  color: black !important;
  font-weight: bold;
  padding: 0 !important;
}

.champCompte {
  padding: 0 !important;
}

.text-input-md {
  margin: 10px 8px 8px 8px !important;
  font-size: 20px;
}

div {
  display: flex;
}

.pad10R {
  padding-right: 10px;
}

.pad5L {
  padding-left: 5px;
}

.fontSize25 {
  font-size: 25px;
}

.colorBlue {
  color: #488aff;
}

